// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hp_header {
  background-color: #666;
  height: 94px;
}

#hp_logo {
  margin-top: 35px;
  margin-right: 15px;
}

#hp_main_frase {
  font-size: 98px;
  color: #666;
  margin-bottom: 0;
  line-height: 1;
  font-family: Georgia,"Times New Roman",Times,serif;
  letter-spacing: -1px;
  text-align: center;
}

#hp_sub_frase {
  font-size: 30px;
  color: #666;
  line-height: 28px;
  font-weight: 300;
  margin-top: 15px;
  text-align: center;
}

#body_style {
  background-color: #eeeed6;
  padding-top: 20px;
  padding-bottom: 80px;
}

#page-top{
  margin-top: 0px;
  background-color: #666;
  color: honeydew;
}
